<div class="flex flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/3 py-8 px-4 sm:p-12 md:p-16 rounded-2xl sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-64 h-32 mx-auto">
                <img src="assets/images/logo/emi-1.png">
            </div>

            <!-- Title -->
            <div class="mt-2 text-4xl font-bold text-center text-gray-700 pt-4">INICIAR SESION</div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form
                class="mt-4 max-w-3/4 mx-auto"
                [formGroup]="signInForm"
                #signInNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Nombre de usuario</mat-label>
                    <mat-icon matPrefix class="icon-size-5 text-blue-900" svgIcon="heroicons_solid:user-circle"></mat-icon>
                    <input
                        id="username"
                        matInput
                        [formControlName]="'username'">
                    <mat-error *ngIf="signInForm.get('username').hasError('required')">
                        El nombre de usuario es requerido
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Contraseña</mat-label>
                    <mat-icon matPrefix class="icon-size-5 text-blue-900" svgIcon="heroicons_solid:key"></mat-icon>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        La contraseña es requerida
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex items-end justify-between w-full mt-1.5">
                    <a class="text-md font-medium text-primary-500 hover:underline">
                        Forgot password?
                    </a>
                    <!-- <a
                        class="text-md font-medium text-primary-500 hover:underline"
                        [routerLink]="['/forgot-password']">Forgot password?
                    </a> -->
                </div>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        Iniciar Sesion
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute -top-16 -right-16 text-gray-700"
             viewBox="0 0 220 192" width="220" height="192" fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <div class="grid grid-cols-1">
            <div class="col-span-1">
                <img
                class="flex-0 m-auto w-120 p-10"
                src="assets/images/logo/emi-2.png">
            </div>
            <div class="grid text-7xl font-bold leading-none text-gray-100">
                <div class="mx-auto">Bienvenido a la pagina</div>
                <div class="mx-auto">del Simulador de Patrullaje</div>
            </div>
            <div class="col-span-1 leading-6 text-gray-400 mx-auto pt-4 text-center">
                Este es un proyecto desarrollado por el estudiante Dennis Arispe 
                para la Unidad de Operaciones de la Escuela Militar de Ingenieria.
            </div>
        </div>
    </div>
</div>
